<!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="">Navigation</li>

                            <li >
                                 <a href="#custom-modal" id = "newlink" class="waves-effect <%= title=='newlink' ? 'active' : 'deactive' %>" data-animation="fadein" data-plugin="custommodal" 
                                                    	data-overlaySpeed="100" data-overlayColor="#36404a"><i class="ti-home"></i> <span> New Link </span> </a>
                                
                            </li>

                            <li >
                                <a href="/pages/home" class="waves-effect <%= title=='home' ? 'active' : 'deactive' %>"><i class="ti-paint-bucket"></i> <span> Overview </span> </a>
                            </li>

                            <li >
                                <a href="/pages/links" class="waves-effect <%= title=='links' ? 'active' : 'deactive' %>"><i class="ti-light-bulb"></i><span> Links </span> </a>
                               
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->